@model Order



<form asp-action="checkout" method="post" class="form-horizontal" role="form">
	<h4>Confirm purchase</h4>
	<div asp-validation-summary="All" class="text-danger"></div>
	<input asp-for="@Model.CustomerName" placeholder="Full Name"/>
	<input asp-for="@Model.CustomerAddress" placeholder="Address" />
	<input asp-for="CustomerPhoneNumber" placeholder="PhoneNumber" />
	<div class="form-group">
		<div class="col-md-offset 2 col-md-5">
			<input type="submit" class="btn btn-primary" value="Complete Order" />
		</div>
	</div>
</form>

<hr />

@*<table class="table table-bordered table-striped">
    <thead>
        <tr>

            <th>Selected Amount</th>
            <th>Movie</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderItems)
        {
            <tr>
                <td class="text-left">
                    @item.Quantity
                </td>
                <td class="text-left">@item.movie.Title</td>
                <td class="text-right">@item.movie.Price.ToString("c")</td>
                <td class="text-right">@((item.Quantity * item.movie.Price).ToString("c"))</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" class="text-right">Total: @Model.OrderTotal.ToString("c")</td>
        </tr>
    </tfoot>
</table>*@