@model Movie
    <div class="figure-caption">
        <h3>@Model.Title</h3>
        <p>Genre: @Model.Genre.GenreName</p>
        <p>Director: @Model.Director</p>
        <p>Description: @Model.Description</p>
        <p>Price: @Model.Price</p>
        <p>Release Date: @Model.ReleaseYear.ToString("MM/dd/yyyy")</p>


    <h5><a asp-controller="Movie" asp-action="Edit" asp-route-id="@Model.MovieId">Edit</a></h5>
    <h5><a asp-controller="Movie" asp-action="Delete" asp-route-id="@Model.MovieId">Delete</a></h5>
    </div>

